@mixin sansJpRegular {
  font-family: 'NotoSansCJKjp-Regular', sans-serif;
}

@mixin sansJpMedium {
  font-family: 'NotoSansCJKjp-Medium', sans-serif;
}

@mixin sansJpBold {
  font-family: 'NotoSansCJKjp-Bold', sans-serif;
}

@mixin sansJpBlack {
  font-family: 'NotoSansCJKjp-Black', sans-serif;
}

@mixin poppins {
  font-family: 'Poppins', sans-serif;
}
